<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Start Page | $server_name</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/main.css" />

    <link rel="alternate" type="application/rdf+xml" href="$rdf_link?output=rdfxml" title="This page in RDF (XML)" />
    <link rel="alternate" type="text/turtle" href="$rdf_link?output=ttl" title="This page in RDF (Turtle)" />
  </head>

  <body>

      <!-- Navigation -->
      <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">#nowplaying</a>
        </div>
        <div class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/docs">Documentation</a></li>
            <li><a href="/stats">Statistics</a></li>
              
            #if (!$classmap_links.isEmpty())
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data Set <b class="caret"></b></a>
                <ul class="dropdown-menu">

                #foreach ($aClassMap in $classmap_links.keySet())
                  <li><a href="$classmap_links.get($aClassMap)">$aClassMap</a></li>
                #end

                </ul>
              </li>
            #end
                
            <li><a href="/snorql/">Snorql</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Title -->
    <div id="title">
      <div class="container">
        <h1>$server_name</h1>
        <p class="lead">Music Data Set: Extracting Listening Behavior from Twitter</p>
      </div>
    </div>

    <!-- Content -->
    <div id="content" class="container">

      <!-- Description -->
      <div id="description">
        <h3>Description:</h3>
        <p class="text">#nowplaying is a data set which leverages social media for the creation of a diverse and constantly updated data set describing the music listening behavior of users. For the creation of the data set we rely on Twitter which is frequently facilitated to post which music the respective user is currently listening to. From such tweets, we extract track and artist information and further metadata.</p>

        <h3>Documentation and Statistics:</h3>
        <p class="text text-docu">More detailed informations about the structure of the data set and how to access it can be found in the <a href="/docs">documentation</a>.</p>

        <p class="text">The data set contains:

          <ul>
            <li>$artists artists</li>
            <li>$tracks tracks</li>
            <li>$listening_events listening events</li>
          </ul>

          In the <a href="/stats">statistics</a> can be found more informations.
        </p> 

        <h3>Accessing the data:</h3>
        <p class="text">The database can be accessed in 5 different ways:</p>
      </div>


      <!-- Access -->
      <div id="access">
      <div class="row">

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">1. HTML View</h3>
            </div>
            <div class="panel-body">
              You can use the following navigation links to explore the database with your web browser.

              #if (!$classmap_links.isEmpty())
                <ul class="list">
                #foreach ($aClassMap in $classmap_links.keySet())
                      <li><a href="$classmap_links.get($aClassMap)">$aClassMap</a></li>
                #end
                </ul>
              #end
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">2. RDF View</h3>
            </div>
            <div class="panel-body">
              <p>You can explore this database with Semantic Web browsers like the online RDF browser from the <a href="http://graphite.ecs.soton.ac.uk/browser/">University of Southampton</a>. To start browsing, open this entry point URL in your Semantic Web browser:</p>

              <p class="link link-source">${home_link}all</p>

	      <p>The online service <a href="http://en.lodlive.it/">LodLive</a> allows you to insert resource URI's for displaying a resource with a graph. To start browsing, insert the URI of a resouce, that is displayed on a resource page.</p>
            </div>
          </div>
        </div>

      </div>
      <div class="row">

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">3. SPARQL Endpoint</h3>
            </div>
            <div class="panel-body">
              <p>SPARQL clients can query the database at this SPARQL endpoint:</p>

              <p class="link link-source">${home_link}sparql</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">4. Snorql</h3>
            </div>
            <div class="panel-body">
              <p>The SPARQL endpoint can also be explored using the build in AJAX-based SPARQL Explorer:</p>

              <p class="link"><a href="snorql/">Snorql</a></p>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">5. Data Set Dump</h3>
            </div>
            <div class="panel-body">
              <p>A dump of the data set can be downloaded in the following format:</p>

              <p class="link"><a href="/download?format=turtle">Turtle</a></p>
            </div>
          </div>
        </div>

      </div>
      </div>

    </div>


    <!-- Footer -->
    <div id="footer" class="container">
      <div class="row">

        <div class="col-sm-6 dbis">
          <strong>DBIS</strong><br />
          Database and Information Systems<br />
          Institute of Computer Science<br />
          University of Innsbruck<br />
          <a href="http://dbis-informatik.uibk.ac.at/">http://dbis-informatik.uibk.ac.at/</a>
        </div>

        <div class="col-sm-6 description">
          <a href="$rdf_link" title="RDF data">RDF data <img src="${home_link}snorql/rdf_flyer.24.gif" alt="[RDF data]" /></a>
        </div>

      </div>
    </div>

    <!-- JavaScript -->
    <script type="text/javascript" src="/static/js/vendor/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
      _paq.push(["setCookieDomain", "*.dbis-nowplaying.uibk.ac.at"]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u=(("https:" == document.location.protocol) ? "https" : "http") + "://dbis-analytics.uibk.ac.at/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 2]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
        g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="http://dbis-analytics.uibk.ac.at/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
  </body>
</html>
